.navbar {
margin-bottom: 20px;
}

.titre-section {
padding: 15px 0;
}

.btn-perso {
height: 48px;
}

h2 {
margin: 0!important;
line-height: 1.5!important;
}

.search {
margin-bottom: 20px;
}

.themes-speciaux {
display: none;
}

.result-options {
margin: 10px 0 10px 0;
}