.nav li {
  display: inline;
  margin-left: 100px;
  list-style-type: none;
  align: right;
}

.titre {
  font-family: Amercican, sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 60px;
}
