body {
  margin: 0;
}

.nav {
  position: sticky;
  background: #d66951;
  width: 100%;
  padding: 1px;
}

.links li {
  display: inline;
  margin-left: 20px;
  list-style-type: none;
  border: 10px solid #51a2d6;
  background: #51a2d6;
  font-size: 25px;

}

.links a {
  text-decoration: none;
  color: #FFFFFF;
}

.links {
  text-align: center;
}

.titre {
  display: block;
  font-family: Amercican, sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 40px;
  text-align: center;
}

.container {
  position: relative;
  width: 1200px;
  margin: auto;
}

.user a {
  border: 10px solid #51a2d6;
  background: #51a2d6;
  font-size: 25px;
  text-decoration: none;
  color: #FFFFFF;
}

.user {
  float: right;
  margin-right: 20px;
}

.contact-box {
  display: block;
  position: absolute;
  width: 300px;
}

.contact-title {
position: absolute;
background: #6b9dbd;
width: 100%;
color: #FFF;
font-size: 30px;
text-align: center;
}

.contact-content {
  position: absolute;
  top: 35px;
  width: 100%;
  border: 2px solid #6b9dbd;
}
